TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/AndroidManifest.xml
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/acw-map.txt
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/_javac.stamp
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/_dex_stamp
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/XamlC.stamp
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.csprojResolveAssemblyReference.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.csproj.FileListAbsolute.txt
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.csproj.CoreCompileInputs.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TesteFrame.Android.csproj.CopyComplete
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/R.cs.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/HND180LT.deployment
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/Component.R.cs.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/.cache/com.companyname.appname.flag
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/mscorlib.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/com.companyname.appname.apk
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/com.companyname.appname-Signed.apk
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Xamarin.Forms.Xaml.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Xamarin.Forms.Platform.Android.dll.mdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Xamarin.Forms.Core.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Unity.ServiceLocation.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Unity.Container.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Unity.Abstractions.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/TesteFrame.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/TesteFrame.dll
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/TesteFrame.Android.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/TesteFrame.Android.dll.mdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/TesteFrame.Android.dll
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Xml.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Xml.Linq.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Web.Services.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Transactions.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.ServiceModel.Internals.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Runtime.Serialization.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Numerics.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Net.Http.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.IO.Compression.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.IO.Compression.FileSystem.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Data.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.Core.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/System.ComponentModel.Composition.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Mono.Security.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Mono.Data.Tds.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/Mono.Android.pdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/FormsViewGroup.dll.mdb
TesteFrame/TesteFrame/TesteFrame.Android/bin/Debug/CommonServiceLocator.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/link.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/libraryprojectimports.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/libraryimports.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/emulator-5554.deployment
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/devices.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/build.props
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android_debug_keystore.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/typemap.jm
TesteFrame/TesteFrame/TesteFrame.Android/obj/project.assets.json
TesteFrame/TesteFrame/TesteFrame.Android/obj/TesteFrame.Android.csproj.nuget.g.targets
TesteFrame/TesteFrame/TesteFrame.Android/obj/TesteFrame.Android.csproj.nuget.g.props
TesteFrame/TesteFrame/TesteFrame.Android/obj/TesteFrame.Android.csproj.nuget.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/stub_application_data.txt
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/strip.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/static.flag
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/resourcepaths.cache
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/resolved_assemblies.txt
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/netstandard.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/mscorlib.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/mscorlib.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/machine.config
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Fragment.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Design.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Core.Utils.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Core.UI.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Compat.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Annotations.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Support.Animated.Vector.Drawable.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Arch.Lifecycle.Runtime.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Arch.Lifecycle.Common.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Xamarin.Android.Arch.Core.Common.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.ServiceLocation.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.ServiceLocation.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.Container.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.Container.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.Abstractions.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Unity.Abstractions.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/TesteFrame.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/TesteFrame.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/TesteFrame.Android.dll.mdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/TesteFrame.Android.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Xml.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Xml.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Xml.XPath.XDocument.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Xml.Linq.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Xml.Linq.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Web.Services.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Web.Services.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Transactions.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Transactions.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Threading.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.ServiceModel.Internals.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.ServiceModel.Internals.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Security.SecureString.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Security.Cryptography.Algorithms.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.Serialization.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.Serialization.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.Serialization.Xml.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.Serialization.Primitives.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.InteropServices.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.InteropServices.RuntimeInformation.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Runtime.Extensions.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Reflection.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Reflection.Primitives.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Reflection.Extensions.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Numerics.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Numerics.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Net.Http.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Net.Http.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Linq.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.IO.Compression.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.IO.Compression.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.IO.Compression.FileSystem.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.IO.Compression.FileSystem.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Globalization.Extensions.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Diagnostics.StackTrace.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Diagnostics.Debug.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Data.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Data.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Core.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Core.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.ComponentModel.Composition.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.ComponentModel.Composition.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Collections.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/System.Collections.Concurrent.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Prism.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Prism.Unity.Forms.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Prism.Forms.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Security.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Security.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Data.Tds.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Data.Tds.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Android.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Mono.Android.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/Java.Interop.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/FormsViewGroup.dll.mdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/FormsViewGroup.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/CommonServiceLocator.pdb
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/assets/CommonServiceLocator.dll
TesteFrame/TesteFrame/TesteFrame.Android/obj/Debug/android/typemap.mj
TesteFrame/TesteFrame/TesteFrame.Android/obj/
TesteFrame/TesteFrame/TesteFrame/bin/
TesteFrame/TesteFrame/TesteFrame.iOS/obj/
